---
---

// colors
$brand-primary: #5A4AE3;
$brand-secondary: #EFEFEF;
// fonts
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&family=Ultra&display=swap');
$font-primary: 'Ultra', serif;
$font-secondary: 'Raleway', serif;

body {
  font-family: $font-secondary;
}
.navbar.navbar-expand-lg.navbar-light.bg-light {
  background-color: $brand-secondary !important;
  font-family: $font-primary;
  .nav-item { 
      .active {
        color: $brand-primary;
      }
    }
  }
.bg-blue {
  background-color: $brand-primary;
}