---
layout: page
title: Solo Work
permalink: /solo/
---

{% include header-page.html %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h2>Andrew Thomas Solo Work</h2>
            <ul class="nav nav-tabs">
                <li role="presentation"><a href="#music">Music</a></li>
                <li role="presentation"><a href="#shows">Live Shows</a></li>
                <li role="presentation"><a href="#gallery">Gallery</a></li>
            </ul>

            <p>Andy is a musician from Hull and is currently working on his first studio album. He started playing guitar at the age of 14 at Howden School. He studied Performing Arts at Hull college where he learned to sing (thanks to some patient friends).
                Andy has played in lots of cover bands over the years (Acoustica, Only Natural, Avenue) and currently plays with The Millionaires and The 1990s.</p>
            <img class="img-responsive center-block" src="/img/IMG_2886.JPG">
            <p>His musical influences come from The Beatles, Crowded House, Dispatch, Shed Seven, White Lies, The Jam and The Eagles. Andy has always had a real love for harmonies and hopes that his album will capture the sounds of some of his favourite
            artists.</p>
            <h2 id="music">Music</h2>
            <p>Andrew Thomas - Time Moves On Demo</p>
            <audio controls>
        <source src="/songs/Time-Moves-On-acoustic-demo.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
            <p>Andrew Thomas - He Loved to Dance Demo</p>
            <audio controls>
        <source src="/songs/He-Loved-To-Dance-acoustic-demo.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h2 id="shows">Live shows</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Venue</th>
                        <th>Location</th>
                        <th>Date</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for solo-gig in site.data.solo-gigs %}
                    <tr>
                        <td>{{ solo-gig.venue }}</td>
                        <td>{{ solo-gig.city }}</td>
                        <td>{{ solo-gig.date | date: "%d %B %Y" }}</td>
                        <td>{{ solo-gig.time }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
