<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <img src="{{ site.github.url }}/img/album-cover.jpg" class="album-promo">
      <h3>Debut Album</h3>
      <p class="lead">Available now</p>
      <ul class="album-stores">
        <li><a href="#"><img width="120px" src="https://images.apple.com/v/music/e/images/overview/apple_music_logo_small_2x.png"></a></li>
        <li><a href="#"><i class="fa fa-spotify" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-soundcloud" aria-hidden="true"></i></a></li>
      </ul>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
