<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="{{ page.title }}">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ page.title }} - Andrew Thomas</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.github.url }}/font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{{ site.github.url }}/css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ site.github.url }}/css/main.css" type="text/css">
    {% if page.title == "1990s" %}
      <style type="text/css">
      .page-title {background-image: url('{{ site.github.url }}/img/IMG_2816.JPG');}
      </style>
      {% elsif page.title == "The Millionaires" %}
      <style type="text/css">
      .page-title {background-image: url('{{ site.github.url }}/img/IMG_2886.JPG');}
      </style>
      {% elsif page.title == "Contact" %}
      <style type="text/css">
      .page-title {background-image: url('{{ site.github.url }}/img/musician.jpg');}
      </style>
      {% else %}
    {% endif %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
